@model IEnumerable<ManitowocCoffeeCompany.Models.Product>

@{
    ViewBag.Title = "Products";
}

<h2>Our Products</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th></th>
        <th>
            <p>Product Name</p>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

@if (Model != null)
{
    foreach (var item in Model)
    {
        var itemName = (item.Name + ".jpg");
        itemName = itemName.Replace(" ", "");

<tr>
    <td>
        <img width="140" height="80" src="~/Content/images/@itemName">
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        $@Html.DisplayFor(modelItem => item.Price).00
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
    </td>
</tr>
    }
}

</table>
